In [1]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv('play_tennis.csv')
data.head(10)

   day   outlook  temp humidity    wind play
0   D1     Sunny   Hot     High    Weak   No
1   D2     Sunny   Hot     High  Strong   No
2   D3  Overcast   Hot     High    Weak  Yes
3   D4      Rain  Mild     High    Weak  Yes
4   D5      Rain  Cool   Normal    Weak  Yes
5   D6      Rain  Cool   Normal  Strong   No
6   D7  Overcast  Cool   Normal  Strong  Yes
7   D8     Sunny  Mild     High    Weak   No
8   D9     Sunny  Cool   Normal    Weak  Yes
9  D10      Rain  Mild   Normal    Weak  Yes

In [14]:
data.drop(columns = ['day'],inplace = True)

In [16]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [17]:
pyes = 9/14
pno = 5/14

In [18]:
print(pyes)
print(pno)

0.6428571428571429
0.35714285714285715

In [21]:
#outlook
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [33]:
povrno = 0 #---> ovvercast no
prainno = 2/5  #---> rainy no
psunnyno = 3/5


povryes = 4/9
prainyes = 3/9
psunnyyes = 2/9

In [34]:
#temp
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [35]:
pcoolno = 1/5 #---  cool no
photno = 2/5
pmildno = 2/5 


pcoolyes = 3/9
photyes = 2/9
pmildyes = 4/9

In [36]:
#humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [42]:
phighno = 4/5  #---> high no
pnormalno = 1/5

phighyes = 3/9  #-----. high yes
pnormalyes = 6/9

In [38]:
#wind
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [39]:
pstno = 3/5 #strong no
pweakno = 2/5

pstyes = 3/9
pweakyes = 6/9

In [40]:
#sunny, hot , high , weak

pyess = pyes*psunnyyes*photyes*phighyes*pweakyes
print(pyess)

0.007054673721340388

In [43]:
pnoo = pno*psunnyno*photno*phumidityno*pweakno
print(pnoo)

0.02742857142857143

In [44]:
#here probability of no is greater than probability of yes .